.bg-svg-bottom {
  width: 100%;
  position: relative;
  bottom: -1px;
  margin-top: 60px;
  & svg {
    width: 100%;
    display: block;
    fill: #eee;
  }
}
.bg-svg-partners {
  width: 100%;
  position: relative;
  bottom: -10px;
  //margin-top: 60px;
  & svg {
    width: 100%;
    display: block;
    fill: #fff;
  }
}
.bg-svg-top-footer {
  width: 100%;
  position: relative;
  bottom: -1px;
  margin-top: 70px;
  & svg {
    width: 100%;
    display: block;
    fill: $colorBlue
  }
}

.bg-svg-bottom-white {
  width: 100%;
  position: relative;
  bottom: -1px;
  margin-top: 60px;
  & svg {
    width: 100%;
    display: block;
    fill: #fff;
  }
}
