.bg-svg-bottom {
  width: 100%;
  position: relative;
  bottom: -1px;
  margin-top: 60px;
  & svg {
    width: 100%;
    display: block;
    fill: #eee;
  }
}
.bg-svg-bottom-footer {
  width: 100%;
  position: relative;
  bottom: -1px;
  margin-top: 70px;
  & svg {
    width: 100%;
    display: block;
    fill: $colorBlue
  }
}
