.box-icon {
  background: #F0F1F1;
  border-radius: 10px;
  //margin-bottom: 100px;
  margin-top: 90px;
  padding: 90px 30px 40px 30px;
  position: relative;
  z-index: 1;
  min-height: 250px;
  transition: all .8s ease-in-out;
  @media only screen and (max-width:480px) {
    padding: 90px 20px 40px 20px;
    min-height:unset;
  }
  &__img {
    position: absolute;
    width: 110px;
    height: 110px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: linear-gradient(62deg, #4B79CE 11.21%, #426AB3 59.3%, #2B4A81 128.49%);
    background: white;
    box-shadow: 0 4px 40px rgba(65, 105, 177, 0.15);
    top: -55px;

    @media only screen and (max-width:992px) {
      margin: 0 auto;
    }
    &:before {
      content: '';
      position: absolute;
      width: 135px;
      height: 86px;
      right: -25px;
      top: -20px;
      transition: all .8s ease-in-out;
      background: url("../images/solution-page-item-blue.svg") no-repeat center;
      z-index: -1;
    }
    & img {
      width: 60px;
    }
  }
  &:hover {
    transform: translateY(-10px);
  }
  &:hover &__img:before {
    right: -45px;
    top: -40px;
  }
}