.breadcrumb {
  position: relative;
  min-height: 84px;
  display: flex;
  font-size: 1.6rem;
  color: #BDBEC5;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;

  & li {
    position: relative;
    &:not(:first-child) {
      padding: 0 10px;
    }
    &:first-child {
      padding-right: 10px;
    }
    & a {
      color: $colorPrimary;
      transition: color .3s ease-in-out;
      &:hover {
        color: $colorBlue;
      }
    }
  }
  & li+li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(15deg);
    width: 1px;
    background: $colorPrimary;
    height: 20px;

  }
  &_white {
    color: #BFCBCB;
    & li {
      & a {
        color: white;
        transition: color .3s ease-in-out;
        &:hover {
          color: #bdbec5;
        }
      }
    }
    & li+li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%) rotate(15deg);
      width: 1px;
      background: white;
      height: 20px;

    }
  }

}