.scroll-top {
  overflow: hidden;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 105%;
  right: 50px;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  background: linear-gradient(96.11deg, #F47920 -7.48%, rgba(247, 187, 98, 0.7) 178.25%);
  border: none;
  transition: 1s ease;
  @media only screen and (max-width: 480px) {
    display: none;
  }
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(96.11deg, #F47920 -7.48%, #F47920 178.25%);
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease-in-out;
  }
  &:hover:before{
    opacity: 1;
  }
}
.scroll-top.open {
  bottom: 80px;
}

.scroll-top i{
  width: 17px;
  height: 17px;
  display: block;
  background: url("../images/to-top.svg") no-repeat center;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}