<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="dist/css/main.css?v=16.0.0">
    <link rel="preload" href="dist/fonts/OpenSans/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="dist/fonts/OpenSans/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="dist/fonts/OpenSans/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="dist/fonts/OpenSans/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="dist/fonts/OpenSans/OpenSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="dist/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="dist/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="dist/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="dist/images/safari-pinned-tab.svg" color="#446EBA">
    <link rel="icon" href="dist/images/favicon.ico">
    <meta name="theme-color" content="#003982">
    <title>{{ title }}</title>
</head>
<body class="preload" id="top">
<!-- Preloader -->
<div id="preloader" class="light">
    <div class="outer">
        <!-- Google Chrome -->
        <div class="infinityChrome">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!-- Safari and others -->
        <div class="infinity">
            <div>
                <span></span>
            </div>
            <div>
                <span></span>
            </div>
            <div>
                <span></span>
            </div>
        </div>
        <!-- Stuff -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo-outer">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                    <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
    </div>
</div>
    {{> body }}
    <div id="popup4" class="popup">
    <div class="popup__dialog">
        <div class="popup__content  popup__content_xl popup__content_slide-3dflip-horizontal">
            <h4 class="popup__title">Свяжитесь с нами по интересующему вас вопросу</h4>
            <div class="content">
                <form action="" class="vacancy-item__form" method="post" enctype="multipart/form-data">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputFio" placeholder="ФИО*">
                        <label for="floatingInputFio">ФИО*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPosition" placeholder="Должность">
                        <label for="floatingPosition">Должность</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingCompany" placeholder="Компания">
                        <label for="floatingCompany">Компания*</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="E-mail">
                        <label for="floatingEmail">E-mail*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPhone" placeholder="Телефон">
                        <label for="floatingPhone">Телефон</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Запрос*</label>
                    </div>
                    <div class="popup__required-fields">* обязательное поле</div>
                    <div class="popup__agreement">
                        <input id="policy" type="checkbox" class="js-policy" checked>
                        <label for="policy">Согласен с <a href="#" target="_blank">условиями</a>  обработки персональных данных</label>
                    </div>

                    <div class="popup__btn">
                        <button class="btn" name="submit" type="submit">Отправить запрос</button>
                    </div>
                </form>
            </div>
            <div class="popup__close"><i class="popup__close-icon"></i></div>
        </div>
    </div>
</div>
    <div id="popup2" class="popup">
    <div class="popup__dialog">
        <div class="popup__content  popup__content_xl popup__content_slide-3dflip-horizontal">
            <h4 class="popup__title">Получить предварительный расчет</h4>
            <div class="content">
                <form action="" class="vacancy-item__form" method="post" enctype="multipart/form-data">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="countInputFio" placeholder="ФИО*">
                        <label for="countInputFio">ФИО*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="countPosition" placeholder="Должность">
                        <label for="countPosition">Должность</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="countCompany" placeholder="Компания">
                        <label for="countCompany">Компания*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="countFieldActivity" placeholder="Сфера деятельности">
                        <label for="countFieldActivity">Сфера деятельности*</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="countEmail" placeholder="E-mail">
                        <label for="countEmail">E-mail*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="countPhone" placeholder="Телефон">
                        <label for="countPhone">Телефон</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="countTextarea"></textarea>
                        <label for="countTextarea">Запрос*</label>
                    </div>
                    <div class="popup__required-fields">* обязательное поле</div>
                    <div class="popup__agreement">
                        <input id="countPolicy" type="checkbox" class="js-policy" checked>
                        <label for="countPolicy">Согласен с <a href="#" target="_blank">условиями</a>  обработки персональных данных</label>
                    </div>

                    <div class="popup__btn">
                        <button class="btn" name="submit" type="submit">Отправить запрос</button>
                    </div>
                </form>
            </div>
            <div class="popup__close"><i class="popup__close-icon"></i></div>
        </div>
    </div>
</div>
    <div id="popup3" class="popup">
    <div class="popup__dialog">
        <div class="popup__content  popup__content_xl popup__content_slide-3dflip-horizontal">
            <h4 class="popup__title">Получить презентацию</h4>
            <div class="content">
                <form action="" class="vacancy-item__form" method="post" enctype="multipart/form-data">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="presentationInputFio" placeholder="ФИО*">
                        <label for="presentationInputFio">ФИО*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="presentationPosition" placeholder="Должность">
                        <label for="presentationPosition">Должность</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="presentationCompany" placeholder="Компания">
                        <label for="presentationCompany">Компания*</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="presentationEmail" placeholder="E-mail">
                        <label for="presentationEmail">E-mail*</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="presentationPhone" placeholder="Телефон">
                        <label for="presentationPhone">Телефон</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="presentationTextarea"></textarea>
                        <label for="presentationTextarea">Запрос*</label>
                    </div>
                    <div class="popup__required-fields">* обязательное поле</div>
                    <div class="popup__agreement">
                        <input id="presentationPolicy" type="checkbox" class="js-policy" checked>
                        <label for="presentationPolicy">Согласен с <a href="#" target="_blank">условиями</a>  обработки персональных данных</label>
                    </div>

                    <div class="popup__btn">
                        <button class="btn" name="submit" type="submit">Отправить запрос</button>
                    </div>
                </form>
            </div>
            <div class="popup__close"><i class="popup__close-icon"></i></div>
        </div>
    </div>
</div>
    <div id="popup6" class="popup">
    <div class="popup__dialog">
        <div class="popup__content  popup__content_xxl popup__content_slide-3dflip-horizontal">
            <h4 class="popup__title">Отправить резюме</h4>
            <div class="content">
                <form action="" class="vacancy-item__form" method="post" enctype="multipart/form-data">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="resumeInputFio" placeholder="ФИО*">
                        <label for="resumeInputFio">ФИО*</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="resumeEmail" placeholder="E-mail">
                                <label for="resumeEmail">E-mail*</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="resumePhone" placeholder="Телефон">
                                <label for="resumePhone">Телефон*</label>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="resumeLink" placeholder="Телефон">
                                <label for="resumeLink">Ссылка на резюме*</label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-field-file">
                                <input type="file" class="form-control inputFile" id="resumeFile" >
                                <label for="resumeFile"><i></i> <span>Или прикрепить файл</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="resumeTextarea"></textarea>
                        <label for="resumeTextarea">Ваш комментарий</label>
                    </div>
                    <div class="popup__required-fields">* обязательное поле</div>
                    <div class="popup__agreement">
                        <input id="vacancy-policy" type="checkbox" class="js-policy" checked>
                        <label for="vacancy-policy">Согласен с <a href="#" target="_blank">условиями</a>  обработки персональных данных</label>
                    </div>

                    <div class="popup__btn">
                        <button class="btn" name="submit" type="submit">Откликнуться</button>
                    </div>
                </form>
            </div>
            <div class="popup__close"><i class="popup__close-icon"></i></div>
        </div>
    </div>
</div>
    <script src="dist/js/lib.js?v=4.0.0"></script>
    <script type='text/javascript' src='//maps.google.com/maps/api/js?key=AIzaSyAbF547wmpRHA68yKJP62H7yha2Nzsilm8&#038;language=ru'></script>
    <script src="dist/js/main.js?v=4.0.0"></script>
</body>
</html>
