<header class="header">
  <div class="container">
    <nav class="navbar">
      <a href="#" class="navbar__logo">
        <img src="dist/images/logo.svg" alt="Иннодата">
      </a>
      <!--<div class="burger">
        <i></i>
      </div>-->
      <ul class="navbar__nav">
        <li>
          <a href="#">Компания</a>
        </li>
        <li>
          <a href="#">Технологии</a>
        </li>
        <li>
          <a href="#">Проекты</a>
        </li>
        <li>
          <a href="#">Решения</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
      <div class="navbar-search">
        <i class="navbar-search__icon"></i>
      </div>
      <div class="navbar-btn">
        <button class="btn">Связаться с нами</button>
      </div>
    </nav>
  </div>
</header>