<header class="header">
  <div class="container">
    <nav class="navbar">
      <a href="/" class="navbar__logo">
        <img src="dist/images/logo.svg" alt="Иннодата">
      </a>
      <div class="navbar__burger">
        <i></i>
      </div>
      <ul class="navbar__nav">
        <li class="navbar__nav-dropdown active">
          <a href="about.html">Компания</a>
          <i class="navbar__nav-dropdown-chevron"></i>
          <ul class="navbar__nav-dropdown-menu expandable">
            <li class="navbar__nav-dropdown-item">
              <a href="history-company.html">История компании</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="partners.html">Наши партнеры</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="vacancies.html">Вакансии</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="career.html">Карьера</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="tech.html">Технологии</a>
        </li>
        <li>
          <a href="projects.html">Проекты</a>
        </li>
        <li class="navbar__nav-dropdown">
          <a href="solutions.html">Решения</a>
          <i class="navbar__nav-dropdown-chevron"></i>
          <ul class="navbar__nav-dropdown-menu  navbar__nav-dropdown-menu_big expandable">
            <li class="navbar__nav-dropdown-item">
              <a href="solution-kpud.html">Комплексная платформа управления данными</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="#">Система интелектуального ценообразования</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="#">Платформа по работе с обращениями клиентов</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="solution-cdpp.html">ЦДПП</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="solution-simba.html">СИМБА</a>
            </li>
            <li class="navbar__nav-dropdown-item">
              <a href="solution-our.html">Оптимальное управление ресурсами</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contacts.html">Контакты</a>
        </li>
      </ul>
      <div class="navbar-search">
        <i class="navbar-search__icon"></i>
        <form action="#" method="post" class="navbar-search__form">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="form-field">
                  <div class="form-floating">
                    <input type="search" class="form-control" name="Search" id="field-search" value="" required="required" autocomplete="off" placeholder="Search">
                    <label for="field-search">Поиск</label>
                    <button type="submit" class="navbar-search__btn"><i></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="navbar-btn">
        <button data-modal="#popup4" class="btn btn_navbar popup-link">Связаться с нами</button>
      </div>
    </nav>
  </div>
</header>