.layout {
  min-height: 100vh;
  //padding-top: 87px;
  display: flex;
  flex-direction: column;
  & .content {
    flex: 1 0 auto;
    &__bottom-block {
      margin-top: 30px;
      display: flex;
      align-items: center;
      @media only screen and (max-width:992px) {
        flex-direction: column;
      }
      & .btn-all {
        margin-left: auto;
        @media only screen and (max-width:992px) {
          margin-right: auto;
        }

      }
    }
    & h1 {
      color: $colorPrimary;
      font-size: 6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 50px;
      &.white {
        color: white;
      }
      &.detail {
        text-transform: unset;

      }
      @media only screen and (max-width:1400px) {
        font-size: 4.5rem;
        margin-bottom: 30px;
      }
      @media only screen and (max-width:1200px) {
        font-size: 4rem;
      }
      @media only screen and (max-width:480px) {
        font-size: 3.2rem;
        margin-bottom: 30px;
      }
      @media only screen and (max-width:375px) {
        font-size: 2.5rem;
        margin-bottom: 30px;
      }
    }
    &_bg-left {
      position: relative;
      //overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top:0;
        width: 50vw;
        min-height:1000px;
        height: 100%;
        background: url(../images/bg-left-next.svg) no-repeat left top;
        z-index: -1;
      }
    }
    &_bg-left-small {
      position: relative;
      //overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top:0;
        width: 40vw;
        min-height:1000px;
        height: 100%;
        background: url(../images/bg-left-small.svg) no-repeat left top;
        z-index: -1;
      }
    }
    &__detail {
      & h2 {
        margin: 30px 0;
        color: $colorPrimary;
      }
      & h3 {
        margin: 30px 0;
        color: $colorPrimary;
      }
      & ul {
        margin-top: 30px;
        margin-bottom: 50px;
        & li {
          position: relative;
          margin-bottom: 20px;
          padding-left: 25px;
          &:before {
            content: '';
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #ED6F00;
            position: absolute;
            left: 0;
            top: 10px;
          }
        }
      }
      & a {
        color: $colorSecondary;
        transition: color .3s ease-in-out;
        &:hover {
          color: #bdbec5;
        }
      }
    }
  }
}