.layout {
  min-height: 100vh;
  //padding-top: 87px;
  display: flex;
  flex-direction: column;
  & .content {
    flex: 1 0 auto;
    & h1 {
      color: $colorPrimary;
      font-size: 6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      &.white {
        color: white;
      }
      @media only screen and (max-width:1400px) {
        font-size: 5rem;
      }
      @media only screen and (max-width:1200px) {
        font-size: 4rem;
      }
      @media only screen and (max-width:480px) {
        font-size: 3.2rem;
      }
    }
  }
}