$fontLight: 'OpenSansLight';
$fontRegular: 'OpenSansRegular';
$fontMedium: 'OpenSansSemiBold';
$fontBold: 'OpenSansBold';
$fontExtraBold: 'OpenSansExtraBold';

$colorPrimary: #07306d;
$colorBlue: #426AB3;
$colorSecondary: #ED6F00;
$colorGray: #8b8d8e;