$fontLight: 'OpenSansLight';
$fontRegular: 'OpenSansRegular';
$fontMedium: 'OpenSansSemiBold';
$fontBold: 'OpenSansBold';
$fontExtraBold: 'OpenSansExtraBold';

$colorRed: #FF473A;
$colorLightGray: #D4D4D4;;